.docBanner {
	width: 100%;
	height: 100px;
}
.docBanner .middleDiv {
	height: 100px;
	min-height: 100px;
	border-bottom: 1px solid gray;
	position: relative;
}
.docBanner .middleDiv .tips {
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.docBanner .middleDiv .tips .searchContaier {
	position: relative;
	right: 15px;
}

.middleDiv .docTitleDiv {
	width: 200px;
	min-height: 800px;
	float: left;
}
.middleDiv .docTitleDiv ul {
	margin-top: 10px;
	padding-left: 10px;
	line-height: 25px;
	border-right: 1px solid gray;
}
.middleDiv .docTitleDiv ul .level0 {
	text-indent: -10px;
}
.middleDiv .docTitleDiv ul .level1 {
}
.middleDiv .docTitleDiv ul .level2 {
	text-indent: 10px;
}
.middleDiv .docTitleDiv ul .level3 {
	text-indent: 20px;
}
.middleDiv .docTitleDiv ul .level4 {
	text-indent: 30px;
}
.middleDiv .docDetailDiv {
	width: 779px;
	min-height: 800px;
	float: left;
	padding: 10px;
	line-height: 20px;
	font-size: 14px;
}
.middleDiv .docDetailDiv a {
	color: #4600EE;
}
.middleDiv .docDetailDiv a:hover {
	color: #551A99;
}
.middleDiv .docDetailDiv .indent {
	text-indent: 28px;
}
.middleDiv .docDetailDiv .indentS {
	text-indent: 5px;
}
.middleDiv .docDetailDiv .keywords,
.middleDiv .docDetailDiv h3 {
	font-size: 17.5px;
	line-height: 40px;
	color: #551A99;
	font-weight: normal;
}
.middleDiv .docDetailDiv .source {
	font-weight: bold;
	line-height: 40px;
}
.middleDiv .docDetailDiv .title,
.middleDiv .docDetailDiv h1 {
	font-size: 31.5px;
	line-height: 60px;
	color: #551A99;
	font-weight: normal;
}
.middleDiv .docDetailDiv .subTitle {
	line-height: 40px;
	color: #551A99;
	font-weight: normal;
}
.middleDiv .docDetailDiv .params {
	color: #DD5600;
}
.middleDiv .docDetailDiv .warning {
	color: #FF0000;
	font-weight: bold;
}
.middleDiv .docDetailDiv table {
	width: 100%;
}
.middleDiv .docDetailDiv table td,
.middleDiv .docDetailDiv table th {
	padding-top: 10px;
	padding-bottom: 10px;
}
.middleDiv .docDetailDiv table td {
	border-top: 1px solid gray;
}

.middleDiv .markdownContainer h3 + p {
	text-indent: 28px;
}
.middleDiv .markdownContainer h4 {
	line-height: 40px;
    color: #551A99;
    font-weight: normal;
}
.middleDiv .markdownContainer table {
	width: 100%;
	border-collapse: collapse;
}
.middleDiv .markdownContainer table th {
	text-align: left;
	text-indent: 5px;
}
.middleDiv .markdownContainer table tr td:first-child {
	color: #DD5600;
	text-indent: 5px;
}
.middleDiv .markdownContainer blockquote {
	font-weight: bold;
    line-height: 40px;
	text-indent: 5px;
}
.middleDiv .markdownContainer p strong {
	font-size: 17.5px;
	line-height: 40px;
	color: #551A99;
	font-weight: normal;
}
