.banner {
	position: relative;
}
.banner .iHuizhi {
	background-color: #159588;
}
.banner .i1 {
	background-color: #F3961F;
}
.banner .i2 {
	background-color: #C52A4C;
}
.banner .i3 {
	background-color: #F65382;
}
.banner .dots {
	position: absolute;
	z-index: 1;
	bottom: 10px;
	left: 50%;
	margin-left: -50px;
}
.banner .dots .dot {
	width: 15px;
	height: 15px;
	float: left;
	margin-left: 15px;
	border-radius: 50%;
	border: 1px solid white;
	cursor: pointer;
}
.banner .dots .active {
	background-color : white;
}
.banner .inner {
	width: 1000px;
	height: 300px;
	margin: 0px auto;
}

.middleDiv .introduce {
	width: 900px;
	margin: 50px auto;
}

.middleDiv .introduce li {
	width: 200px;
	height: 200px;
	margin-left: 50px;
	margin-right: 50px;
	float: left;
	position : relative;
}

.middleDiv .introduce li .circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition : all 0.2s linear 0s;
	text-align: center;
	cursor: pointer;
}
.middleDiv .introduce li .front {
	color: white;
}
.middleDiv .introduce li .front img {
	width: 60px;
	margin-top: 25px;
}
.middleDiv .introduce li .front .examIcon {
	margin-top: 35px;
}
.middleDiv .introduce li .front .chinese {
	font-size: 28px;
	margin-top: 8px;
}
.middleDiv .introduce li .front .english {
	font-size: 14px;
	margin-top: 5px;
}
.middleDiv .introduce li .back {
	opacity: 0;
	transform: rotateY(180deg);
	position: absolute;
	top: 0px;
	left: 0px;
}
.middleDiv .introduce li .back .icon {
	position: absolute;
	background: url("../images/icons/exam-back.png") no-repeat 8px 7px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	top: 5px;
	left: 150px;
}
.middleDiv .introduce li .back .i1 {
	background-color: #F3961F;
}
.middleDiv .introduce li .back .i2 {
	background-color: #F3961F;
}
.middleDiv .introduce li .back .i3 {
	background-color: #F3961F;
}
.middleDiv .introduce li:hover .front {
	opacity: 0;
	transform: rotateY(180deg);
}
.middleDiv .introduce li:hover .back {
	opacity: 1;
	transform: rotateY(0deg);
}
.middleDiv .introduce li .f1 {
	background-color: #F3961F;
	border: 5px solid #F3961F;
	color: white;
}
.middleDiv .introduce li .b1 {
	background-color: #FFFFFF;
	border: 5px solid #F3961F;
	color: #F3961F;
}
.middleDiv .introduce li .f2 {
	background-color: #F3961F;
	border: 5px solid #F3961F;
	color: white;
}
.middleDiv .introduce li .b2 {
	background-color: #FFFFFF;
	border: 5px solid #F3961F;
	color: #F3961F;
}
.middleDiv .introduce li .f3 {
	background-color: #F3961F;
	border: 5px solid #F3961F;
	color: white;
}
.middleDiv .introduce li .b3 {
	background-color: #FFFFFF;
	border: 5px solid #F3961F;
	color: #F3961F;
}
.middleDiv .introduce li p {
	font-weight: bold;
	line-height: 20px;
}
.middleDiv .introduce li .p1 {
	margin-top: 70px;
}
.middleDiv .introduce li .p2 {
	margin-top: 20px;
}

.middleDiv .examples {
	width: 800px;
	margin: 50px auto;
}
.middleDiv .examples li {
	width: 100%;
	min-height: 175px;
	float: left;
	margin-bottom: 40px;
    border-radius: 50px;
    border: 2px solid #CECECE;
    transition: all 0.5s linear 0s;
	cursor: pointer;
}
.middleDiv .examples li:hover {
	background-color: #CECECE;
}
.middleDiv .examples li img {
	width: 240px;
    height: 135px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 40px;
    box-shadow: 10px 10px 20px black;
}
.middleDiv .examples li .right {
	float: left;
	width: 500px;
	height: 200px;
	margin-left: 30px;
}
.middleDiv .examples li .right .title {
	margin-top: 10px;
    font-size: 40px;
}
.middleDiv .examples li .right .author {
    font-size: 12px;
    margin-top: 10px;
}
.middleDiv .examples li .right .abstract {
    margin-top: 10px;
    text-indent: 32px;
    font-size: 16px;
    width: 100%;
    line-height: 20px;
}