.writeShowTitle {
	margin: 20px;
}
.showInfo {
	margin-left: 20px;
}
.showInfo .line {
	height: 30px;
}
.showInfo .line .title {
	display: inline-block;
	width: 200px;
	text-align: right;
}
.showInfo .line input[type="text"] {
	width: 200px;
}

.showInfo .line input[type="file"] {
	position: absolute;
	top: -100px;
	left: 0px;
}
.showInfo .line button {
	padding: 2px;
	margin-right: 10px;
}
.writeShowEditor {
	width: 96%;
	margin: 10px auto;
}
.writeShowBtn {
	margin-left: 20px;
	padding: 2px;
}

.middleDiv .content {
	width: 220px;
	height: 220px;
	margin: 15px;
	float: left;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: none;
}
.middleDiv .content image {
	width: 220px;
	height: 220px;
}
.middleDiv .content .front {
	width: 100%;
	height: 100%;
}
.middleDiv .content .back {
	position: absolute;
	left: 0px;
	top: 220px;
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	padding: 10px;
}
.middleDiv .content .front,
.middleDiv .content .back {
	transition : all 0.2s linear 0s;
}
.middleDiv .content:hover .front {
	opacity: 0.0;
}
.middleDiv .content:hover .back {
	top: 0px;
}
.middleDiv .content .back .name {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}
.middleDiv .content .back .author,
.middleDiv .content .back .desc,
.middleDiv .content .back .play {
	margin-top: 10px;
	font-size: 14px;
	color: #434343;
}