.writeTutorialTitle {
	margin: 20px;
}
.tutorialInfo {
	margin-left: 20px;
}
.tutorialInfo .line {
	height: 30px;
}
.tutorialInfo .line .title {
	display: inline-block;
	width: 200px;
	text-align: right;
}
.tutorialInfo .line input[type="text"] {
	width: 200px;
}

.tutorialInfo .line input[type="file"] {
	position: absolute;
	top: -100px;
	left: 0px;
}
.tutorialInfo .line button {
	padding: 2px;
	margin-right: 10px;
}
.writeTutorialEditor {
	width: 96%;
	margin: 10px auto;
}
.writeTutorialBtn {
	margin-left: 20px;
	padding: 2px;
}

.middleDiv .content {
	border-top: 1px solid gray;
	width: 800px;
	margin: 0px auto;
	padding-top: 10px;
	line-height: 30px;
}
.middleDiv .content p {
	text-indent: 32px;
}
.middleDiv .content p img {
	text-indent: 0px;
}
.middleDiv .content ul li {
	list-style-type: circle;
	margin-left: 32px;
}
.middleDiv .content ul li p {
	text-indent: 0px;
}